<div class="hero hero--home hero--center" style="background-image: url('{% spaceless %}{{ content.field_image }}{% endspaceless %}');">
  <h2 class="hero__headline">
    <span>
      <span data-animation="slide-in" data-animate>{{ content.field_hero_h2_larger_text }}</span>
    </span>
    {% if content.field_hero_h2_smaller_text|render %}
      <span>
        <span data-animation="slide-in" data-animate>{{ content.field_hero_h2_smaller_text }}</span>
      </span>
    {% endif %}
  </h2>
  <a href="#content-main" class="hero__arrow__btn">
    {{ macros.inline_svg('Large-Arrow','hero__arrow') }}
  </a>
</div>
<div class="region bg-blue invert" id="main-content">
  <div class="wrapper">
      <div class="feature-panel__img feature-panel__img--wide">
        <div class="frame relative" data-ratio="3:2">
          {{ content.field_hero_feature_image }}
        </div>
        {% if content.field_hero_feature_video|render %}
          {{ content.field_hero_feature_video }}
        {% endif %}
      </div>
      <div class="feature-panel__content">
        <h2 class="feature-panel__heading">{{ content.field_hero_feature_heading }}</h2>
        {{ content.field_hero_feature_content }}
        {{ content.field_hero_feature_link }}
      </div>
    </div>
  </div>
</div>
