{% if view_mode == 'related_program' %}
  <li class="routing-panel__block flow">
    <a href="{{ url }}" class="routing-panel__link flow flow-space-md">
      <div class="routing-panel__frame overlay-gradient-blue">
        {{ content.field_image }}
        <div class="routing-panel__box"></div>
      </div>
      <h3>{{ label }}</h3>
    </a>
    <div class="routing-panel__content flow-space-3xs">
      <p>
        {{ content.field_degree_type }}
      </p>
    </div>
  </li>
{% else %}
  {{ content.field_full_width_components }}
{% endif %}
