{% import "@isu/macros/macros.html.twig" as macros %}
<div class="hero hero--home hero--center" style="background-image: url('{% spaceless %}{{ content.field_image }}{% endspaceless %}');">
  <h2 class="hero__headline">
    <span>
      <span data-animation="slide-in" data-animate>{{ content.field_hero_h2_larger_text }}</span>
    </span>
    {% if content.field_hero_h2_smaller_text|render %}
      <span>
        <span data-animation="slide-in" data-animate>{{ content.field_hero_h2_smaller_text }}</span>
      </span>
    {% endif %}
  </h2>
  <a href="#content-main" class="hero__arrow__btn">
    {{ macros.inline_svg('Large-Arrow','hero__arrow') }}
  </a>
</div>
<div class="region bg-blue invert" id="main-content">
  <div class="wrapper">
    <div class="feature-panel">
      <div class="feature-panel__img feature-panel__img--wide">
        <div class="frame relative" data-ratio="3:2">
          {{ content.field_hero_feature_image }}
        </div>
        {% if content.field_hero_feature_video|render %}
          {{ content.field_hero_feature_video }}
        {% endif %}
      </div>
      <div class="feature-panel__content">
        <h2 class="feature-panel__heading">{{ content.field_hero_feature_heading }}</h2>
        {{ content.field_hero_feature_content }}
        {{ content.field_hero_feature_link }}
      </div>
    </div>
  </div>
</div>
<div class="region overflow-visible bg-light lg:py-xl">
  <div class="wrapper">
    {{ content.field_feature_panel }}
  </div>
</div>

<div class="region bg-light">
  <div class="wrapper">
    <div class="image-carousel__container flow">
      {% if content.field_img_carousel_heading|render %}
        <h2>{{ content.field_img_carousel_heading }}</h2>
      {% endif %}
      {{ macros.inline_svg('Large-Arrow', 'image-carousel__arrow') }}
      {{ content.field_image_carousel }}
    </div>
  </div>
</div>

<div class="content__half-white py-xl mb-2xl">
  <div class="routing-panel__container">
    {% if content.field_ybh_heading|render %}
      {% if content.field_heading_tag['#items'].getString() == 'H2' %}
        <h2 class="routing-panel__heading">{{ content.field_ybh_heading }}</h2>
      {% elseif content.field_heading_tag['#items'].getString() == 'H3' %}
        <h3 class="routing-panel__heading">{{ content.field_ybh_heading }}</h3>
      {% elseif content.field_heading_tag['#items'].getString() == 'H4' %}
        <h4 class="routing-panel__heading">{{ content.field_ybh_heading }}</h4>
      {% elseif content.field_heading_tag['#items'].getString() == 'H5' %}
        <h5 class="routing-panel__heading">{{ content.field_ybh_heading }}</h5>
      {% elseif content.field_heading_tag['#items'].getString() == 'H6' %}
        <h6 class="routing-panel__heading">{{ content.field_ybh_heading }}</h6>
      {% else %}
        <p class="routing-panel__heading">{{ content.field_ybh_heading }}</p>
      {% endif %}
    {% endif %}
    {% if content.field_ybh_cards|render %}
      <ul class="routing-panel">
        {% content.field_ybh_cards %}
      </ul>
    {% endif %}
  </div>
</div>
