<div class="feature-panel__img feature-panel__img--pull">
  <div class="frame relative" data-ratio="3:2">
    {{ content.field_image }}
  </div>
  {% if content.field_modal_content|render %}
    {{ content.field_modal_content }}
  {% endif %}
</div>
<div class="feature-panel__content">
  <h2 class="feature-panel__heading">{{ label }}</h2>
  {{ content.field_content }}
  {% if content.field_feature_cta|render %}
    {{ content.field_feature_cta }}
  {% endif %}
</div>
