{% if view_mode == 'home' %}
  <div class="feature-panel__img feature-panel__img--pull">
    <div class="frame relative" data-ratio="3:2">
      {{ content.field_image }}
    </div>
    {% if content.field_modal_content|render %}
      {{ content.field_modal_content }}
    {% endif %}
  </div>
  <div class="feature-panel__content">
    <h2 class="feature-panel__heading">{{ content.field_display_title }}</h2>
    {{ content.field_content }}
    {% if content.field_feature_cta|render %}
      {{ drupal_field('field_feature_cta', 'node', (node.id ? node.id : node), 'home') }}
    {% endif %}
  </div>
{% elseif view_mode == 'full_width' %}
  <div class="feature-panel__img feature-panel__img--pull overlay-gradient-blue-dark">
     {{ content.field_image }}
     {% if content.field_modal_content|render %}
       {{ content.field_modal_content }}
     {% endif %}
  </div>
  <div class="feature-panel__content">
    <h2 class="feature-panel__heading">{{ content.field_display_title  }}</h2>
      {{ content.field_content }}
      {% if content.field_feature_cta|render %}
        {{ drupal_field('field_feature_cta', 'node', (node.id ? node.id : node), 'full_width_feature') }}
      {% endif %}
  </div>
{% elseif view_mode == 'full_width_program' %}
  <div class="feature-panel__img feature-panel__img--wide">
     {{ content.field_image }}
     {% if content.field_modal_content|render %}
       {{ content.field_modal_content }}
     {% endif %}
  </div>
  <div class="feature-panel__content">
    <h2 class="feature-panel__heading">{{ label }}</h2>
      {{ content.field_content }}
      {% if content.field_feature_cta|render %}
        {{ drupal_field('field_feature_cta', 'node', (node.id ? node.id : node), 'full_width_program_feature') }}
      {% endif %}
  </div>
{% else %}
  <div class="feature-panel__img overlay-gradient-white ">
    {{ content.field_image }}
    {% if content.field_modal_content|render %}
      {{ content.field_modal_content }}
    {% endif %}
  </div>
  <div class="feature-panel__content">
    <h2 class="feature-panel__heading">{{ content.field_display_title  }}</h2>
    {{ content.field_content }}
    {% if content.field_feature_cta|render %}
      {{ drupal_field('field_feature_cta', 'node', (node.id ? node.id : node), 'default') }}
    {% endif %}
  </div>
{% endif %}
