

{% if view_mode == 'full_width_program' %}

<div class="wrapper">
  <div class="flex justify-center lg:my-xl">
  <div class="lg:w-75 flow flow-space-2xl my-xl">
    {% if content.field_p_heading|render %}
      {% if content.field_p_heading_tag['#items'].getString() == 'H2' %}
        <h2 class="h3">{{ content.field_p_heading }}</h2>
      {% elseif content.field_p_heading_tag['#items'].getString() == 'H3' %}
        <h3 class="h3">{{ content.field_p_heading }}</h3>
      {% elseif content.field_p_heading_tag['#items'].getString() == 'H4' %}
        <h4 class="h3">{{ content.field_p_heading }}</h4>
      {% elseif content.field_p_heading_tag['#items'].getString() == 'H5' %}
        <h5 class="h3">{{ content.field_p_heading }}</h5>
      {% elseif content.field_p_heading_tag['#items'].getString() == 'H6' %}
        <h6 class="h3">{{ content.field_p_heading }}</h6>
      {% else %}
        <p class="h3">{{ content.field_p_heading }}</p>
      {% endif %}
    {% endif %}
    <div class="column-split grid" data-layout="1/2">
      {{ content.field_p_content_left }}
      {{ content.field_p_content_right}}
    </div>
  </div>
  </div>
</div>

{% else %}

<div>
  <div class="flow flow-space-s">
    {% if content.field_p_heading|render %}
      {% if content.field_p_heading_tag['#items'].getString() == 'H2' %}
        <h2 class="h3">{{ content.field_p_heading }}</h2>
      {% elseif content.field_p_heading_tag['#items'].getString() == 'H3' %}
        <h3 class="h3">{{ content.field_p_heading }}</h3>
      {% elseif content.field_p_heading_tag['#items'].getString() == 'H4' %}
        <h4 class="h3">{{ content.field_p_heading }}</h4>
      {% elseif content.field_p_heading_tag['#items'].getString() == 'H5' %}
        <h5 class="h3">{{ content.field_p_heading }}</h5>
      {% elseif content.field_p_heading_tag['#items'].getString() == 'H6' %}
        <h6 class="h3">{{ content.field_p_heading }}</h6>
      {% else %}
        <p class="h3">{{ content.field_p_heading }}</p>
      {% endif %}
    {% endif %}
    <div class="column-split grid" data-layout="1/2">
      {{ content.field_p_content_left }}
      {{ content.field_p_content_right}}
    </div>
  </div>
</div>

{% endif %}
