<div class="region bg-light">
    <div class="wrapper">
        <div class="split-heading sidebar">
            {% if content.field_p_heading|render %}
                {% if content.field_p_heading_tag['#items'].getString() == 'H2' %}
                    <h2>{{ content.field_p_heading }}</h2>
                {% elseif content.field_p_heading_tag['#items'].getString() == 'H3' %}
                    <h3 class="h2">{{ content.field_p_heading }}</h3>
                {% elseif content.field_p_heading_tag['#items'].getString() == 'H4' %}
                    <h4 class="h2">{{ content.field_p_heading }}</h4>
                {% elseif content.field_p_heading_tag['#items'].getString() == 'H5' %}
                    <h5 class="h2">{{ content.field_p_heading }}</h5>
                {% elseif content.field_p_heading_tag['#items'].getString() == 'H6' %}
                    <h6 class="h2">{{ content.field_p_heading }}</h6>
                {% else %}
                    <p class="h2">{{ content.field_p_heading }}</p>
                {% endif %}
            {% endif %}
            {{ content.field_p_intro_text }}
        </div>
        <div class="mt-xl">
            <script async src='https://www.tintup.com/app/dist/embedded.js'></script>
            <div class="tintup" data-id="moretoblue" data-columns="" data-mobilescroll="true" data-infinitescroll="true" data-personalization-id="1030220" style="height: 625px; width: 100%; position: relative;" data-finishedloadingmoreposts="true"><div class="a5b5e4-inner" style="height: 100%; width: 100%; overflow: hidden;"><iframe src="https://cdn.hypemarks.com/t/moretoblue?width=1086&amp;infiniteScroll=true&amp;personalization_id=1030220" style="border:none;height:100%;width:100%;" scrolling="yes" frameborder="0" allowtransparency="true" title="Social Feed" data-embed-id=""></iframe></div></div>
        </div>
    </div>
</div>
