
{% if view_mode == 'full_width_program' %}


<div class="wrapper">
  <div class="flex justify-center lg:my-xl">
    <div class="lg:w-75 flow-space-s my-xl">
      <div class="media media--{% spaceless %}{{ content.field_p_image_position }}{% endspaceless %}">
        {{ content.field_p_image }}
      </div>
      {{ content.field_p_content }}
    </div>
  </div>
</div>

{% else %}

<div class="media media--{% spaceless %}{{ content.field_p_image_position }}{% endspaceless %}">
  {{ content.field_p_image }}
</div>
{{ content.field_p_content }}

{% endif %}