<div class="region bg-white">
  <div class="routing-panel__container">
    {% if content.field_p_heading|render %}
      {% if content.field_p_heading_tag['#items'].getString() == 'H2' %}
        <h2 class="routing-panel__heading text-blue-dark">{{ content.field_p_heading }}</h2>
      {% elseif content.field_p_heading_tag['#items'].getString() == 'H3' %}
        <h3 class="routing-panel__heading text-blue-dark">{{ content.field_p_heading }}</h3>
      {% elseif content.field_p_heading_tag['#items'].getString() == 'H4' %}
        <h4 class="routing-panel__heading text-blue-dark">{{ content.field_p_heading }}</h4>
      {% elseif content.field_p_heading_tag['#items'].getString() == 'H5' %}
        <h5 class="routing-panel__heading text-blue-dark">{{ content.field_p_heading }}</h5>
      {% elseif content.field_p_heading_tag['#items'].getString() == 'H6' %}
        <h6 class="routing-panel__heading text-blue-dark">{{ content.field_p_heading }}</h6>
      {% else %}
        <p class="routing-panel__heading text-blue-dark">{{ content.field_p_heading }}</p>
      {% endif %}
    {% endif %}
    {% if content.field_p_cards|render %}
      <ul class="routing-panel grid" data-layout="1/3">
        {{ content.field_p_cards }}
      </ul>
    {% endif %}
  </div>
</div>
