  <div class="region stats-bg" style="background-image: url('{% spaceless %}{{ content.field_p_image }}{% endspaceless %}');">
    <div class="wrapper">
        <div class="stats">
            <div class="split-heading sidebar invert">
                {% if content.field_p_heading|render %}
                    {% if content.field_p_heading_tag['#items'].getString() == 'H2' %}
                        <h2>{{ content.field_p_heading }}</h2>
                    {% elseif content.field_p_heading_tag['#items'].getString() == 'H3' %}
                        <h3 class="h2">{{ content.field_p_heading }}</h3>
                    {% elseif content.field_p_heading_tag['#items'].getString() == 'H4' %}
                        <h4 class="h2">{{ content.field_p_heading }}</h4>
                    {% elseif content.field_p_heading_tag['#items'].getString() == 'H5' %}
                        <h5 class="h2">{{ content.field_p_heading }}</h5>
                    {% elseif content.field_p_heading_tag['#items'].getString() == 'H6' %}
                        <h6 class="h2">{{ content.field_p_heading }}</h6>
                    {% else %}
                        <p class="h2">{{ content.field_p_heading }}</p>
                    {% endif %}
                {% endif %}
                {{ content.field_p_content }}
            </div>
            <div class="stats__cards flex flex-col gap-[100px] flow-space-2xl lg:flex-row lg:gap-xl">
                {{ content.field_p_stats_boxes }}
            </div>
        </div> 
    </div>
  </div>