{% if view_mode == 'url_only_hero' %}
  {% spaceless %}{{ content.field_media_image }}{% endspaceless %}
{% elseif view_mode == 'carousel_slide' %}
  <a href="{% spaceless %}{{ content.field_media_image }}{% endspaceless %}" class="image-carousel__item" data-minimodal="group" data-minimodal-caption="{{ content.field_media_caption_long }}">
    <img src="{% spaceless %}{{ content.field_media_image }}{% endspaceless %}" alt="placeholder">
    {% if content.field_media_caption_long|render %}
      <div class="image-carousel__caption">
        {{ content.field_media_caption_long }}
      </div>
    {% endif %}
  </a>
{% elseif view_mode == 'full_width' %}
  <div class="frame border-radius" data-ratio="3:2">
    {{ content.field_media_image }}
  </div>
  {% if content.field_media_caption_long|render %}
    <p class="text-step-s font-bold">
      {{ content.field_media_caption_long }}
    </p>
  {% endif %}
{% elseif view_mode == 'no_caption' %}
  {{ content.field_media_image }}
{% else %}
  {{ content.field_media_image }}
  <div class="media__caption">
    <p>{{ content.field_media_caption_long }}</p>
  </div>
{% endif %}
