{% import "@isu/macros/macros.html.twig" as macros %}
<main id="main-content">
  <div class="hero hero--home hero--center" style="background-image: url('{% spaceless %}{{ drupal_field('field_image', 'node', (node.id ? node.id : node)) }}{% endspaceless %}');">
    <h2 class="hero__headline">
      <span>
        <span data-animation="slide-in" data-animate>{{ drupal_field('field_hero_h2_larger_text', 'node', (node.id ? node.id : node)) }}</span>
      </span>
      {% if not node.field_hero_h2_smaller_text.isempty %}
        <span>
          <span data-animation="slide-in" data-animate>{{ drupal_field('field_hero_h2_smaller_text', 'node', (node.id ? node.id : node)) }}</span>
        </span>
      {% endif %}
    </h2>
    <a href="#content-main" class="hero__arrow__btn">
      {{ macros.inline_svg('Large-Arrow','hero__arrow') }}
    </a>
  </div>
  {{ content }}
  <!-- <div class="region bg-blue invert" id="main-content">
    <div class="wrapper">
      {% include '@components/feature-panel.html' with {video: true, whiteBtn: true, imgWide: true, item: 'Committed to Helping You Succeed', image: '../img/home1.jpg'} %}
    </div>
  </div>

  <div class="region overflow-visible bg-light lg:py-xl">
    <div class="wrapper">
      {% include '@components/feature-panel.html' with {item: 'Indiana State Advantage', image: '../img/home2.jpg', swap: true, intro: true, imgPull: true} %}
    </div>
  </div>

  <div class="pullquote__container">
    <div class="content__img content__img-alt">
      <img src="../img/home3.jpg" alt="placeholder">
      <div class="blue-gradient"></div>
      {% include '@components/pullquote.html' with {blue: true, whiteBtn: true} %}
    </div>
  </div>

  <div class="region bg-light">
    <div class="wrapper">
      <div class="image-carousel__container flow">
        <h2>Renovated and Ready</h2>
        {{ macros.inline_svg('Large-Arrow', 'image-carousel__arrow') }}
        <div class="image-carousel">

          <a href="../img/image8.jpg" class="image-carousel__item" data-minimodal="group" data-minimodal-caption="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae provident vero ullam quaerat officia sapiente eligendi molestiae
          recusandae deserunt laborum?">
            <img src="../img/image8.jpg" alt="placeholder">
            <div class="image-carousel__caption">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae provident vero ullam quaerat officia sapiente eligendi molestiae
                recusandae deserunt laborum?
              </p>
            </div>
          </a>

          <a href="../img/image9.jpg" class="image-carousel__item" data-minimodal="group" data-minimodal-caption="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae provident vero ullam quaerat officia sapiente eligendi molestiae
          recusandae deserunt laborum?">
            <img src="../img/image9.jpg" alt="placeholder">
            <div class="image-carousel__caption">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae provident vero ullam quaerat officia sapiente eligendi molestiae
                recusandae deserunt laborum?
              </p>
            </div>
          </a>

          <a href="../img/image9.jpg" class="image-carousel__item" data-minimodal="group" data-minimodal-caption="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae provident vero ullam quaerat officia sapiente eligendi molestiae
          recusandae deserunt laborum?">
            <img src="../img/image9.jpg" alt="placeholder">
            <div class="image-carousel__caption">
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae provident vero ullam quaerat officia sapiente eligendi molestiae
                recusandae deserunt laborum?
              </p>
            </div>
          </a>

          <div class="image-carousel__nav">
            <button class="image-carousel__nav__btn image-carousel__previous" aria-label="Previous Slide">
              {{ macros.inline_svg('icon-arrow') }}
            </button>
            <button class="image-carousel__nav__btn image-carousel__next" aria-label="Next Slide">
              {{ macros.inline_svg('icon-arrow') }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pullquote__container">
    <div class="content__half-blue">
      <div class="content__img content__img-alt">
        <img src="../img/image7.jpg" alt="placeholder">
        <div class="blue-gradient"></div>
        {% include '@components/pullquote.html' with {link: true, white: true} %}
      </div>

    </div>
  </div>

  {% include '@components/routing-panel.html' %}
  <div class="content__half-blue">
    <div class="content__container">
      <div class="content__img" style="background-image: url('../img/Image-Quote03.jpg');">
        <div class="blue-blur"></div>
        {% include '@components/pullquote.html' with {whiteBtn: true} %}
      </div>
    </div>
  </div>
  {% include '@components/cta-panel.html' %} -->
</main>
