<div class="hero hero--sub invert">
  <div class="wrapper">
    <div class="hero__container">
      {{ page.breadcrumb }}
      {{ drupal_field('field_hero', 'node', (node.id ? node.id : node)) }}
    </div>
  </div>
</div>

<main id="main-content">
  <div class="wrapper">
    <div class="l-page-sidebar mb-xl lg:my-l">
      <div>
        <div class="flow flow-space-l">
          <div data-animation="fade-in-up" data-animate>
            {{ page.sub_nav }}
          </div>
        </div>
        {% if not node.field_sidebar_modules.isempty %}
          <div class="hidden flow flow-space-l lg:block">
            {{ drupal_field('field_sidebar_modules', 'node', (node.id ? node.id : node)) }}
          </div>
        {% endif %}
      </div>
      <div>
        <div class="flow relative">
          <div class="flow flow-space-2xl">
            {{ page.tabs }}
            {{ page.content }}
          </div>
        </div>
      </div>
      {% if not node.field_sidebar_modules.isempty %}
        <div class="mt-l lg:hidden">
          <div class="flow flow-space-l">
            {{ drupal_field('field_sidebar_modules', 'node', (node.id ? node.id : node)) }}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
</main>
{{ page.footer }}