{{ exposed }}
{{ attachment_before }}

<div class="flow flow-space-l">
  {{ rows }}
  {{ empty }}
  {{ pager }}
</div>

{{ attachment_after }}
{{ more }}

{% if footer %}
  <footer>
    {{ footer }}
  </footer>
{% endif %}
